/* CSS GENERAL */
/* Esta hoja contiene los estilos comunes a todas las pantallas */

/* FUENTES */
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

/* GENERAL */
body {
    height: 100vh;
    font-family: 'Rubik', sans-serif!important;
}

main {
    min-height: calc(100vh - 3.5rem - 3.5rem);
    min-width: 20rem;
    text-align: center;
}

header, footer { height: 3.5rem!important; }

h1 {
    margin: auto;
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    padding: 3rem 0 1rem;
}

/* COLORES */
.bg-orange { background-color: #f39932; }

.text-orange { color: #f39932; }

a.text-orange:hover {
    color: #ffaf54!important;
    text-decoration: none!important;
}

/* IMÁGENES, LOGOS E ICONOS */
.logo-nav { width: 7.5rem; }

.logo-login {
    width: 100%;
    margin-bottom: 2rem;
}

.icono { padding-right: 0.5rem; }

.icono-crud{
    height: 1.5rem;
    width: 2rem;
}

.img-perfil {
    height: 22rem;
    width: 22rem;
    object-fit: cover;
}

/* NAV */
.navbar-nav .nav-link {
    padding: 1rem 1.5rem!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    background-color: #f39932;
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.active:hover {
    background-color: #ffaf54;
}

/* BOTONES */
.btn-orange {
    color: #fff;
    background-color: #f39932;
    border-color: #f39932;
}

.btn-orange:hover, .btn-orange:not(:disabled):not(.disabled).active, .btn-orange:not(:disabled):not(.disabled):active, .show>.btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #ffaf54;
    border-color: #ffaf54;
}

.btn-orange.focus, .btn-orange:focus, .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(243,153,50,0.25);
}

.btn-orange:not(:disabled):not(.disabled).active:focus, .btn-orange:not(:disabled):not(.disabled):active:focus, .show>.btn-orange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(243,153,50,0.5);
}

.page-link:hover{
    color:#ffaf54;    
}

.page-link:hover{
    color:#ffaf54;    
}

/* FORMULARIOS */
.w-8 {
    width: 8.5rem;
}

.form-control::-webkit-input-placeholder {
    color: #cccccc;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #ffaf54;
    border: 1px solid #ffaf54;
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
    box-shadow: 0 0 0 0.2rem rgba(243,153,50,0.25);
    border: 1px solid #ffaf54;
}

/* PAGINACIÓN */
.page-link {
    color: #f39932;
}

.page-item.active .page-link {
    background-color: #f39932;
    border-color: #f39932;
}

/* CARDS */
.card-img-top {
    object-fit: cover;
}

.img-contexto {
    height: 22rem;
}

/* MEDIA QUERIES */
@media (max-width: 768px){
    .container {
        max-width: 768px;
        
    }
}