/*----------------------------------------------------------------------------*/
/*------------------------- DISTRIBUCIÓN DE TABLEROS -------------------------*/
/*----------------------------------------------------------------------------*/

/*----------------------------------- GRID -----------------------------------*/
/* Esta es la distribución de la rejilla y el etiquetado de cada una de sus areas 
para la posterior asignación de los elementos */

/* Preset pequeño (4x3) */
.grid-sm {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "c1r1   c2r1    c3r1    c4r1"
        "c1r2   c2r2    c3r2    c4r2"
        "c1r3   c2r3    c3r3    c4r3";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* Preset mediano (3x2) */
.grid-md {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "c1r1   c2r1    c3r1"
        "c1r2   c2r2    c3r2";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* Preset grande (3x1) */
.grid-lg {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "c1r1   c2r1    c3r1";
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
}

/*----------------------------------------------------------------------------*/

/*----------------------------------- AREAS ----------------------------------*/
/* Estas clases asignan un elemento a un area de la rejilla */

/* Fila 1 */
.c1r1 { grid-area: c1r1; }
.c2r1 { grid-area: c2r1; }
.c3r1 { grid-area: c3r1; }
.c4r1 { grid-area: c4r1; }
/* Fila 2 */
.c1r2 { grid-area: c1r2; }
.c2r2 { grid-area: c2r2; }
.c3r2 { grid-area: c3r2; }
.c4r2 { grid-area: c4r2; }
/* Fila 3 */
.c1r3 { grid-area: c1r3; }
.c2r3 { grid-area: c2r3; }
.c3r3 { grid-area: c3r3; }
.c4r3 { grid-area: c4r3; }

/*----------------------------------------------------------------------------*/

/*------------------------------- COLUMNA FINAL ------------------------------*/
/* Indica la columna en la que acaba el elemento */
/* Fila 1 */
.col-end-c2r1 { grid-column-end: c2r1; }
.col-end-c3r1 { grid-column-end: c3r1; }
.col-end-c4r1 { grid-column-end: c4r1; }
/* Fila 2 */
.col-end-c2r2 { grid-column-end: c2r2; }
.col-end-c3r2 { grid-column-end: c3r2; }
.col-end-c4r2 { grid-column-end: c4r2; }
/* Fila 3 */
.col-end-c2r3 { grid-column-end: c2r3; }
.col-end-c3r3 { grid-column-end: c3r3; }
.col-end-c4r3 { grid-column-end: c4r3; }
/* Fila 4 */
.col-end-c2r4 { grid-column-end: c2r4; }
.col-end-c3r4 { grid-column-end: c3r4; }
.col-end-c4r4 { grid-column-end: c4r4; }
/* Fila 5 */
.col-end-c2r5 { grid-column-end: c2r5; }
.col-end-c3r5 { grid-column-end: c3r5; }
.col-end-c4r5 { grid-column-end: c4r5; }

/*-------------------------------- FILA FINAL --------------------------------*/
/* Indica la fila en la que acaba el elemento */
/* Columna 1 */
.row-end-c1r2 { grid-row-end: c1r2; }
.row-end-c1r3 { grid-row-end: c1r3; }
/* Columna 2 */
.row-end-c2r2 { grid-row-end: c2r2; }
.row-end-c2r3 { grid-row-end: c2r3; }
/* Columna 3 */
.row-end-c3r2 { grid-row-end: c3r2; }
.row-end-c3r3 { grid-row-end: c3r3; }
/* Columna 4 */
.row-end-c4r2 { grid-row-end: c4r2; }
.row-end-c4r3 { grid-row-end: c4r3; }
/* Columna 5 */
.row-end-c5r2 { grid-row-end: c5r2; }
.row-end-c5r3 { grid-row-end: c5r3; }
/* Columna 6 */
.row-end-c6r2 { grid-row-end: c6r2; }
.row-end-c6r3 { grid-row-end: c6r3; }
/* Columna 7 */
.row-end-c7r2 { grid-row-end: c7r2; }
.row-end-c7r3 { grid-row-end: c7r3; }
/* Columna 8 */
.row-end-c8r2 { grid-row-end: c8r2; }
.row-end-c8r3 { grid-row-end: c8r3; }