/*----------------------------------------------------------------------------*/
/*------------------------- DISTRIBUCIÓN DE TABLEROS -------------------------*/
/*----------------------------------------------------------------------------*/

/*----------------------------------- GRID -----------------------------------*/
/* Esta es la distribución de la rejilla y el etiquetado de cada una de sus areas 
para la posterior asignación de los elementos */

/* Preset pequeño (4x3) */
.grid-sm {
    height: 100vh;
    display: grid!important;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* Preset mediano (3x2) */
.grid-md {
    height: 100vh;
    display: grid!important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* Preset grande (3x1) */
.grid-lg {
    height: 100vh;
    display: grid!important;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
}

/*----------------------------------------------------------------------------*/